extends layout

block content
  h1= title

   a.btn.btn-primary(href='/Vehicle/create') Create 

  - let items = results;
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/Vehicle/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.VehicleName}(#{item.price}) is #{item.Model}
        button.btn(class="btn-primary ml-1", onclick= destination) Update
        button.btn(class="btn-primary ml-1", onclick= destination) delete 
        button.btn(class="btn-primary ml-1", onclick= destination) detail


        script.
          function dispatch(path){
            window.location.href=path
          }
